
html, body {
    margin: 0;
    padding: 0;
    background: #fff;
}
  
body {
    font-family: 'Roboto', 'Century Gothic';
    font-weight: 100;
}

div {
    height: 100%;
    text-align: left;
    background-size: cover;
    text-transform: full-size-kana;;
}
p, h3 {
    padding: 4% 4% 0%;
}

nav {
    /* position: sticky; */
    float: right;
    padding: ;
}

.index {
    padding: 2rem;
}

a :hover {
    background: beige;
    color: black;
    font-size: 150%;
}

div.home {
    background: url(bgpf.jpg) no-repeat center center;
    color: #fff;
    text-transform: uppercase;
    line-height: 2;
}

.head {
    padding: 10% 4% 0%;
    font-size: 300%;
    font-weight: lighter;
    line-height: 0;
}

.description {
    font-weight: lighter;
    padding-top: 0% 4%;
}

.wlink {
    color: #fff;
    width: auto;
    height: 5%;
}

.wlink :hover{
    color: black ;
    background: #fff ;
}